body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f0f0f0;
}

a {
  color: inherit;
  text-decoration: none;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin-top: -2vw;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#hamburger-menu {
  display: flex;
}

#hamburger-submenu {
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 20px;
  padding-right: 10px;
  padding-bottom: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  text-decoration: none;
}

#hamburger-submenu li {
  margin-right: 30px;
  list-style: none;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
}

.personal-pic {
  position: absolute;
  margin-top: -110px;
  margin-left: 95px;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #ccc;
  margin-bottom: 20px;
}

.saved-restaurants-pic {
  position: absolute;
  margin-top: -80px;
  margin-left: 105px;
}

.profile-info {
  font-size: 25px;
  text-align: center;
}

.profile-info h1 {
  margin-top: 0;
}

.profile-info ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#pfp {
  margin-left: 37px;
  margin-top: 28px;
}

.profile-info a {
  color: #333;
  text-decoration: none;
}

.profile-info a:hover {
  text-decoration: underline;
}

.notifications-pic {
  position: absolute;
  margin-top: -55px;
  margin-left: 70px;
}

.settings-pic {
  position: absolute;
  margin-top: -25px;
  margin-left: 50px;
}

@media (max-width: 1280px) {
  .saved-restaurants-pic {
    position: absolute;
    margin-top: -80px;
    margin-left: 85px;
  }

  .notifications-pic {
    position: absolute;
    margin-top: -55px;
    margin-left: 60px;
  }

  .settings-pic {
    position: absolute;
    margin-top: -25px;
    margin-left: 45px;
  }

  body {
    font-size: 15px;
  }

  .profile-info a {
    font-size: 20px;
  }

  .profile-container {
    padding: 5vw;
    margin-left: 30vw;
    margin-right: 30vw;
  }
}

@media (max-width: 600px) {
  .profile-info a {
    font-size: 20px;
  }

  .profile-container {
    padding: 5vw;
    margin-top: 10vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

@media (min-width: 1285px) {
  .saved-restaurants-pic {
    position: absolute;
    margin-top: -100px;
    margin-left: 125px;
  }

  .personal-pic {
    position: absolute;
    margin-top: -140px;
    margin-left: 145px;
  }

  .saved-restaurants-pic img {
    width: 30px;
  }

  .notifications-pic {
    position: absolute;
    margin-top: -65px;
    margin-left: 85px;
  }

  .notifications-pic img {
    width: 30px;
  }

  .settings-pic {
    position: absolute;
    margin-top: -30px;
    margin-left: 60px;
  }

  .settings-pic img {
    width: 30px;
  }

  body {
    font-size: 30px;
  }

  .profile-info a {
    font-size: 30px;
  }

  .profile-container {
    padding: 5vw;
    margin-top: 5vw;
    margin-left: 35vw;
    margin-right: 35vw;
  }
}
