body {
  background-color: #f0f0f0;
  margin: 20px;
}

#head {
  text-align: center;
  font-size: 30px;
}

a {
  color: inherit;
  text-decoration: none;
}

h6 {
  font-size: large;
}

#saved-restaurants {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-p1 {
  padding: 40px 80px;
}

#saved-restaurants .restaurants-box {
  width: 280px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.05);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
  cursor: pointer;
  flex-wrap: wrap;
}

#saved-restaurants .restaurants-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#saved-restaurants .restaurants-box image {
  width: 100%;
  margin-bottom: 10px;
}

#saved-restaurants .restaurants-box h6 {
  display: inline-flexbox;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: black;
  background-color: wheat;
}

#hamburger-menu {
  display: flex;
}

#hamburger-submenu {
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 20px;
  padding-right: 10px;
  padding-bottom: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  text-decoration: none;
}

#hamburger-submenu li {
  margin-right: 30px;
  list-style: none;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
}
